.parallax-container {
  margin: 0;
  width: 100%;
  height: 100vh;
  perspective: 8px;
  perspective-origin: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: 0 50%;
}

.image-background {
  height: auto;
  width: 100%;
  /* Calculo del scale: (perspective(8px) - translateZ(0px))/perspective(8px) */
  transform: translateZ(0px) scale(1);
  transform-origin: 0 50%;
}

.image-middle {
  height: 100%;
  width: 100%;
  /* Calculo del scale: (perspective(8px) - translateZ(5px))/perspective(8px) */
  transform: translateZ(5px) scale(0.375);
  transform-origin: 50%;
}

.image-foreground {
  /* Calculo del scale: (perspective(8px) - translateZ(2px))/perspective(8px) */
  transform: translateZ(2px) scale(0.75);
  transform-origin: top;
}

.card {
  background-color: white;
  width: 80px;
  height: 100px;
  position: absolute;
  border-radius: 8px;
  transform: rotate(-20px);
}

.one {
  left: 30%;
  top: 200px;
}

.two {
  left: 30%;
  top: 400px;
}

.three {
  left: 30%;
  bottom: -1200px;
}