.duration-container {
  background-color: #CD5C5C;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 60px;
}

.duration-container:hover .duration-box {
  transform: scale(1.2);
}

.duration-box {
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: 	#FA8072;
  transition: transform 1s;
}

.box2 {
  background-color: 	#E9967A;
  transition: transform 2s;
}

.box3 {
  background-color: 	#FFA07A;
  transition: transform 3s;
}